<h1>{{ product.title }}</h1>
<p>{{ product.price | money }}</p>
<img>{{ product | image_url: width: 400 | image_tag }}</img>
<div>
    {{ product.description }}
</div>

   
{% form 'product', product %}
    <select name="id" {% if product.variants.size == 1 %} style="display: none;" {% endif %}>
        {% for variant in product.variants %}
            <option value={{ variant.id }}>
                {{ variant.title }}
            </option>
        {% endfor %}
    </select>
    <input type="number" name="quantity" min="1" value="1">
    <button type="submit">Add to Cart</button>
{% endform %}